.boxer {
   display: table;
   border-collapse: collapse;
}
 
.boxer .box-row {
   display: table-row;
  
}


 
.boxer .box {
   display: table-cell;
   text-align: left;
   vertical-align: top;
   width: 83px;
   border: 1px solid gray;
}